<main>
  <h1>About</h1>
  <p>
    This is a simple Pokemon app made with Angular 14. It uses the
    <a href="https://www.pokeapi.co" target="_blank"><strong>PokeAPI</strong></a> to
    fetch the pokemon´s data.
  </p>
  <p>
    The app has two main pages: <strong>Home</strong> and
    <strong>About</strong>.
  </p>
  <br />
  <p>
    The <strong>Home</strong> page is the main page of the app. It shows the
    name of each Pokemon registered.
  </p>
  <p>
    The <strong>About</strong> page is this page. It shows a brief description
    of the app and the technologies used to build it.
  </p>
  <br />
  <p>The app uses the following technologies:</p>
  <ul>
    <li><strong>Angular 14</strong></li>
    <li><strong>PokéAPI</strong></li>
  </ul>
  <br />
  <p>
    The app is open source and the code is available on my
    <a
      href="https://github.com/samuelbaldasso/angular-pokedex"
      target="_blank"
      >GitHub</a
    >.
  </p>
</main>
