.container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 120px;
  height: 50px;
  background-color: #f3f3f3;
}

.input input {
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
}

main{
  padding-top: 200px;
}

input[placeholder] {
  font-family: "Roboto", sans-serif;
}

.container h1 a {
  text-decoration: none;
  color: #000;
}

.container h1 a:hover {
  text-decoration: underline;
}

.container-phrase {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: red;
}

@media screen and (max-width: 375px) {
  .input{
    top: 240px;
  }

  main{
    padding-top: 320px;
  }

  .container-phrase {
    font-size: 24px;
  }
}
