<main>
  <div class="input">
    <input
      type="text"
      [(ngModel)]="searchText"
      (ngModelChange)="filterData()"
      placeholder="Search pokemons"
    />
  </div>
  <div class="container-wrapper" *ngIf="filterArray?.length; else noData">
    <div class="container" *ngFor="let item of filterArray">
      <h1>
        <a [routerLink]="['/pokelist/', item.url.split('/')[6]]">{{
          item.name.toUpperCase()
        }}</a>
      </h1>
    </div>
  </div>

  <ng-template #noData>
    <h1 class="container-phrase">There's no pokemons.</h1>
  </ng-template>
</main>
